/* You can add global styles to this file, and also import other style files */
@use 'styles/theme';
@use 'styles/animation';

html, body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font-sans);
}